.dc-chart g.row text {
    fill: #000;
    text-shadow: 0 0 17px white;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 6px 0px black;
    color: #3362b9;
    background-color: white;
}

#main {
    margin-top: 25px;
}

h2>span {
    color: #ee7f00;
}

#data-count{
    margin-top: 76px;
    padding-left: 36px;
    background-color: gainsboro;
    padding-top: 10px;
    margin-right: 0px;
    padding-bottom: 10px;

}

.bgimage {
  width:100%;
  height:330px;
  background: url('../images//Property-Market-min-1920x480.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 120px;
  background-position-y: 120px;
}

.bgimage2 {
    width: 100%;
    height: 330px;
    background: url("../images/dublinBay.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: 120px;
    background-size: contain;
    background-size: 2300px;
}


#areas_of_properties>svg{
    position: relative;
    left: -30px;
}
#charts02 {
    margin-top: 25px;
}

#ber_value>svg {
    position: relative;
    left: -27px;
}

#number_of_beds>svg,#number_of_baths>svg,#property_type>svg,#open-viewing>svg {
    position: relative;
    right: 56px;
    top:-25px;
}

#main2 {
    margin-top: 35px;
}

th.dc-table-head {
    width: 175px;
}

td.dc-table-column._3, td.dc-table-column._4  {
    text-align: right;
}

th.dc-table-head:nth-child(4), th.dc-table-head:nth-child(5) {
    text-align: right;
}
#results-table {
    margin-left: 50px;
}
i.fas.fa-home, i.fas.fa-dollar-sign {
    font-size: 80px;
}
div#price-per-m2 {
    margin-top: 50px;
}
span.number-display {
    font-size: 50px;
    margin-left: 40px;
}

.btn-secondary:disabled {
    visibility: hidden;
}

.dc-chart .brush rect.extent {
    fill: #ff980070;
    fill-opacity: 1;
}

text.whisker, text.box{
    visibility: hidden;
}


text.box:nth-of-type(2) {
    visibility: visible;
    fill: red;
}
