.dc-chart g.row text {
    fill: #000;
    text-shadow: 0 0 17px white;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 6px 0px black;
    color: #3362b9;
    background-color: white;
}

#main h2, #main2 h2{
    padding-top: 25px;
    color: #3362b9;
}

h2>span {
    color: #ee7f00;
}

#data-count{
    margin-top: 76px;
    padding-left: 36px;
    background-color: gainsboro;
    padding-top: 10px;
    margin-right: 0px;
    padding-bottom: 10px;

}

.bgimage {
  width:100%;
  height:26vw;
  background: url('../images//Property-Market-min-1920x480.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin-top: 120px;
  background-position-y: 120px;
  background-size: contain;
}

.bgimage2 {
    width: 100%;
    height: 26vw;
    background: url("../images/dublinBay.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: contain;
    background-size: 180%;
}


#areas_of_properties>svg{
    position: relative;
    left: -30px;
}
#charts02 {
    margin-top: 25px;
}

#ber_value>svg {
    position: relative;
    left: -27px;
}

/*#number_of_beds>svg,#number_of_baths>svg,#property_type>svg,#property_value>svg {
    position: relative;
    right: 56px;
    top:-25px;
}*/


th.dc-table-head {
    width: 175px;
}

td.dc-table-column._3, td.dc-table-column._4 , td.dc-table-column._5  {
    text-align: right;
}

th.dc-table-head:nth-child(4), th.dc-table-head:nth-child(5), th.dc-table-head:nth-child(6) {
    text-align: right;
}
#results-table {
    /*margin-left: 50px;*/
}
i.fas.fa-home, i.fas.fa-dollar-sign {
    font-size: 80px;
}
div#price-per-m2 {
    margin-top: 50px;
}
span.number-display {
    font-size: 50px;
    margin-left: 40px;
}

.btn-secondary:disabled {
    visibility: hidden;
}

.dc-chart .brush rect.extent {
    fill: #ff980070;
    fill-opacity: 1;
}

text.whisker, text.box{
    visibility: hidden;
}


text.box:nth-of-type(2) {
    visibility: visible;
    fill: red;
}

i.fas.fa-map-marked-alt {
    font-size: 20px;
    padding-left: 30%;
}

tr.dc-table-group {
    display: none;
}
h3 {
    margin-top: 1.5rem;
}
/*.row {
    padding: 0;
}
.col-8,.col-7, .col-5,.col-3 {
    padding: 0;
}*/
.modal2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    background-color: #00000047;
}

#screen-size-modal{
    display: none
}


/*---- MEDIA QUERUIES --------------------------------------*/

@media (max-width: 1199.98px) {
    .container{
        max-width: 90%
    }
    .bgimage {
        background-size: contain;
    }
    div#bubble_chart {
    transform: scale(0.97);
    transform-origin: left;
    }
    div#surface_price {
            transform: scale(0.95);
            transform-origin: left;
    }
    div#box-plot-area-vs-price {
            transform: scale(0.95);
            transform-origin: left;
    }
}

@media (max-width: 991.98px) {
    .container{
        max-width: 90%
    }
    div#bubble_chart {
        transform: scale(0.82);
        transform-origin: left;
    }
    div#surface_price {
            transform: scale(0.79);
            transform-origin: left;
    }
    div#box-plot-area-vs-price {
            transform: scale(0.79);
            transform-origin: left;
    }
    .bgimage2 {
        background-size: 210%;
        background-position-x: 38%;
        height: 30vw;
    }
    #screen-size-modal{
    display: block
    }
}

@media (max-width: 767.98px) {
    .container{
        max-width: 90%
    }
    div#bubble_chart {
        transform: scale(0.64);
        transform-origin: left;
    }
    div#surface_price {
            transform: scale(0.60);
            transform-origin: left;
    }
    div#box-plot-area-vs-price {
            transform: scale(0.60);
            transform-origin: left;
    }
    tbody {
        font-size: 13px;
    }
    .bgimage2 {
        background-size: 255%;
        background-position-x: 32%;
        height: 35vw;
    }
    .table td, .table th {
        padding: .5rem;
    }
}
@media (max-width: 575.98px) {
    .container{
        max-width: 95%
    }
    div#auctioneer {
        position: relative;
        left: -30px;
    }
    div#ber_value {
        position: relative;
        left: 50px;
    }
    div#bubble_chart {
        transform: scale(0.5);
        transform-origin: left;
    }
    div#surface_price {
            transform: scale(0.48);
            transform-origin: left;
    }
    div#box-plot-area-vs-price {
            transform: scale(0.48);
            transform-origin: left;
    }
    tbody {
        font-size: 9px;
    }
    .bgimage2 {
        background-size: 338%;
        background-position-x: 32%;
        height: 45vw;
    }
}
